    /* Buttons */
    .w3-button-32 img {
        height: 32px;
        width: 32px;
    }

    .w3-button-24 img {
        height: 24px;
        width: 24px;
    }

    .w3-button-20 img {
        height: 20px;
        width: 20px;
    }

    .w3-button-16 img {
        height: 16px;
        width: 16px;
    }
