/* Buttons */
.w3-button-32 img {
    height: 32px;
    width: 32px;
}

.w3-button-24 img {
    height: 24px;
    width: 24px;
}

.w3-button-20 img {
    height: 20px;
    width: 20px;
}

.w3-button-16 img {
    height: 16px;
    width: 16px;
}

/* Slider */
.w3-range {
    padding: 0px;
}

.w3-range::-ms-thumb {
    background: #2b84e5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.w3-range::-ms-fill-lower, .w3-range::-ms-fill-upper, .w3-range::-ms-ticks-before, .w3-range::-ms-ticks-after, .w3-range::-ms-track {
    background-color: #ffffff;
    color: transparent;
    height: 15px;
}

/* Tabs */
.eml-tab-header {
    background-color: #f1f1f1;
}

.eml-tab-header.active {
    background-color: #9e9e9e;
}

/* Accordions */
.eml-accordion-header:hover {
    background-color: #f1f1f1;
}

.eml-accordion-header.active {
    border-bottom: none;
}

.eml-accordion-header {
    border: 2px solid rgb(217, 217, 217);
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
	height: 40px; 
	margin-right: 0px;
	padding-right: 0px;
}

.eml-accordion-header-title {
    left: 30px !important;
    margin: 0px;
}

.eml-accordion-body {
    background-color: rgb(217, 217, 217);
    border: 2px solid rgb(217, 217, 217);
    border-top: none;
    padding-left: 23px;
}

.eml-row, .eml-multirow {
    background-color: #f9f9f9;
}

.eml-accordion-header::before {
    content: '\25B7';
    color: #f9f9f9;
    padding: 0px 0px;
    background-color: rgb(217, 217, 217);
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 26px;
    margin-right: 10px;
}

.eml-accordion-header.active::before {
    content: "\25BD";
}

.eml-accordion-header:hover::before {
    color: #9e9e9e;
}

/* Tooltips */
.eml-tooltip {
    font-size: 13px;
    position: absolute;
    left: 20px;
    bottom: 25px;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
}

.eml-row-add-above, .eml-row-add-below, .eml-row-remove {
}

.eml-row-add-above::after {
	content: "+\2191";
}

.eml-row-add-below::after {
	content: "+\2193";
}

.eml-row-remove::after {
	content: "\2212";
}

.eml-info {
    content: "Info";
    cursor: pointer;
}

.eml-checkbox {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
}

.eml-modal-outer {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    overflow: hidden;
}

.eml-modal-back-dimmer {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.3;
    overflow: hidden;
}

.eml-modal-back-box {
    display: block;
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    overflow: auto;
}

.eml-modal-container {
    background-color: white;
    padding-top: 20px;
}

.eml-modal-close {
    position: fixed;
    top: 100px;
    right: 118px;
    z-index: 10;
}

.eml-modal-close::before {
    content: "x";
}

.eml-lingo-icon {
    cursor: pointer;
    height: 48px;
    width: 48px;
    margin: 5px;
}

.eml-logo-icon {
    height: 48px;
    width: 48px;
    margin: 5px;
}

.eml-save-button, .eml-load-button {
    padding-left: 30px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    font-size: 10px;
    margin: 5px;
}

.eml-save-button {
    background-image: url("save.png");
}
.eml-load-button {
    background-image: url("load.png");
}

.eml-interface-header {
    height: 70px;
}

.eml-run-button, .eml-reset-button {
    margin: 5px;
}

/* Tooltips */
.tooltip-n {
    margin: 0px;
}

/* Validation */
input:invalid {
    box-shadow: 0 0 5px 1px red;
}
.eml-connection-highlight {
    box-shadow: 0 0 5px 1px orange !important;
}
